/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    html {
    scroll-behavior: smooth;
    }

    body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    }
    /* Basic styles */
    
    /*====NAV BAR====*/
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    font-family: Arial, sans-serif;
    }

    .navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    }

    .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    }

    .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: transform 0.4s;
    }

    .navbar-links {
    display: flex;
    list-style: none;
    }

    .navbar-links li {
    margin-right: 20px;
    }

    .navbar-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    }

    .navbar-links a:hover {
    color: #ddd;
    }

    .content {
    padding: 20px;
    }

    /* Media query for responsive design */
    @media only screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #333;
        z-index: 1000;
    }

    .navbar-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar-toggle {
        display: flex;
    }

    .change .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .bar:nth-child(2) {
        opacity: 0;
    }

    .change .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    }

    #team-details {
        display: flex;
        flex-direction: row;
        width: -webkit-fill-available;
        height: fit-content;
        justify-content: center;
        background: linear-gradient(hsl( 190 , 64%, 22%),hsla(190, 64%, 22%, 0.514));
        gap: 40px;
        align-items: center;
    }

    .teacher {
        margin-top: 100px;
        width: 100vw;
        font-size: 18px;
    }

    #lin-logo {
        background: url('../images/linkedin.png');
        background-position: center;
        background-size: contain;
    }

    #mail-logo {
        background: url('../images/gmail.png');
        background-position: center;
        background-size: contain;
    }

   

    .teams {
        font-size: larger;
    }

    #team-works-details {
        font-size: 20px;
    }

    #git-logo {
        background: url('../images/code.png');
        background-position: center;
        background-size: contain;
    }

    @media screen and (max-width: 800px) {
        #team-details {
            flex-wrap: wrap;
        }
    }

    #team1-cards {
        min-height: 700px;
        height: max-content;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 10px;
    }

    #tm-social span {
        width: 25px;
        height: 25px;
    }

    #cards-a,
    #cards-b {
        display: flex;
        flex-direction: column;
        height: 650px;
        gap: 20px;
    }

    #cards-a {
        justify-content: center;
    }

    #cards-b {
        justify-content: flex-end;
    }

    #card1,
    #card2,
    #card3,
    #card4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        height: 280px;
        width: 200px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        align-items: center;
    }

    #mentor-details-main {
        margin-bottom: 20px;
    }

    #tm-img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-image: url(../images/nophoto.095de2657a3c6d22d251.png);
        background-size: cover;
    }
    #tm-img div {
        width: 90px;
        height: 90px;
    }
    /* #ayan {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-image: url(../images/ayan.jpeg);
        background-size: cover;
    }
    #tanbir {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-image: url(../images/tanbir.jpg);
        background-size: cover;
    }

    #priyanshu {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-image: url(../images/priyanshu.jpeg);
        background-size: cover;
    }

    #dipan {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-image: url(../images/dipan.jpeg);
        background-size: cover;
    }

    #mainak {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-image: url(../images/mainak.jpg);
        background-size: cover;
    } */

    #tahmid {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-image: url(../images/tahmid.jpg);
        background-size: cover;
    }

    /* #surajit {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-image: url(../images/surajit.jpg);
        background-size: cover;
    } */

    #tm-name {
        font-size: larger;
        font-weight: 700;
        padding-bottom: 10px;
    }

    #tm-fd {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #tm-about,
    #tm-work-at {
        color: #f89f01;
        font-weight: 600;
    }

    #team1-works {
        color: white;
        width: 400px;
        padding: 40px 0;
    }

    #tm-social {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    #team-no {
        font-size: 5.5vw;
        font-weight: 900;
        margin-bottom: 30px;
    }

    body {
        width: 100vw;
        height: 100vh;
    }

    #container-mentoreos {
        color: #ddd !important;
        display: flex;
        flex-direction: column;
        /* margin: 100px; */
        -ms-flex-align: center;
        width: -webkit-fill-available;
        justify-content: center;
        height: max-content;
        border-radius: 10px;
    }

    #container-mentoreos a{
        color: #ddd;
    }

    #mentor-name {
        font-size: xx-large !important;
    }

    #mentoreo-card {
        background: transparent;;
        height: auto;
        align-self: center;
        width: 90%;
        background: linear-gradient(hsl( 190 , 64%, 22%), hsla(190, 64%, 22%, 0.584));
        border-bottom: hsl( 190 , 29%, 12%) 3px solid;
        left: 50%;
        top: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin: 20px;
    }

    #mentor-thumb1 {
        height: 200px;
        width: 200px;
        background-color: transparent;
        background-image: url(../images/partha_sir.fd1f2a78f9ceef8e222f.jpg);
        padding: 10px;
        margin: 50px;
        overflow:hidden;
        border-radius: 50%;
        box-sizing: border-box;
        background-size: contain;
        background-position-x: center;
        background-repeat: no-repeat;
        /* border-radius: 10px; */
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.9);
    }

    #mentor-thumb2 {
        height: 200px;
        width: 200px;
        background-color: transparent;
        background-image: url(../images/sivaji_sir.jpg);
        padding: 10px;
        margin: 50px;
        overflow:hidden;
        border-radius: 50%;
        box-sizing: border-box;
        background-color: white;
        background-size: contain;
        background-position-x: center;
        background-repeat: no-repeat;
        /* border-radius: 10px; */
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.9);
    }

    #mentor-details {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        width: (calc(100%))-90px;
        position: relative;
        padding-right: 40px;
    }

    #mentor-details-main {
        padding-left: 30px;
    }

    #mentor-details-below {
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }

    #mentor-name {
        margin-top: 10px;
        font-size: x-large;
        font-weight: 600;
        width: 100%;
    }

    @media screen and (max-width: 1006px) {
        #mentoreo-card {
            justify-content: space-around;
        }

        #mentor-thumb {
            margin-top: 20px;
        }

        #mentor-details-below {
            margin-bottom: 30px;
        }
    }

    /* #team-details:nth-child(2) {
        flex-direction: row-reverse;
    } */

    a {
        text-decoration: none;
        color: black;
    }