
#main-body main {
    display: flex;
    align-items: center;
}

#trans-vid {
    display: flex;
    width: 100%;
}

#trans-vid>div {
    min-width: 260px;
    height: 600px;
    padding: 10px;
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type='file'] {
    display: none;
}

#trans-vid form {
    height: auto;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

label[for='upvid'],
#up-btn,
#down-btn {
    width: auto;
    height: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}

#upload-section,
#downvid {
    min-height: 250px !important;
    border-radius: 10px;
    width: 50%;
    background-color: black;
}

video {
    width: 100% !important;
    height: 100% !important;
}

#down-btn {
    margin-top: 10px;
}

select {
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 6px;
}

@media screen and (max-width: 800px) {
    #trans-vid {
        flex-direction: column;
    }

    #trans-vid>div {
        width: auto !important;
    }
}