@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

:root {
    --blue: #0071FF;
    --light-blue: #B6DBF6;
    --dark-blue: #005DD1;
    --grey: #f2f2f2;
}




#App {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    /* background: var(--light-blue); */
}

#container {
    max-width: 400px;
    width: 100%;
    background: var(--light-blue);
    padding: 30px;
    border-radius: 30px;
    /* margin-left: 100px; */
}

#vid-area {
    position: relative;
    width: 100%;
    height: 100px;
    background: var(--grey);
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#vid-area .icon {
    font-size: 100px;

}

#vid-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

#vid-area p {
    color: #999;
}

#button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#language-button {
    display: block;
    width:100%;
    border-radius: 15px;
    padding: 16px 0;
    background: var(--light-blue);
    color: #5b63bd;
    font-weight:500;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 10px;
}

#upload-button {
    display: block;
    width:100%;
    border-radius: 15px;
    padding: 16px 0;
    background: var(--blue);
    color: #fff;
    font-weight:500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 10px;
}

#upload-button:hover {
    background: var(--dark-blue);
}

/* #download {
    font-size: 20px;
    color: #007bff;
    margin-top: 20px;
}

#download::after {
    content: '...';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow: 
        .25em 0 0 rgba(0,0,0,0)
        .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: black;
        text-shadow: 
        .25em 0 0 rgba(0,0,0,0)
        .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow: 
        .25em 0 0 black
        .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow: 
        .25em 0 0 black
        .5em 0 0 black;
    }
} */




